body{
    margin: 0;
}
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {
    clear: both;
}
img{
    max-width: 100%;
}
/*                Nav                  */
nav{
    background-color: green;
}
#nav-container{
    width: 100%;
    margin: 0 auto;
}
#inside-nav-container{
    width: 960px;
    margin: 0 auto;
}
#inside-nav-container-one{
    float: left;
    
}
#inside-nav-container img{
  float: left;
   width:80px;
    margin: 0;
    padding: 0;
}
#inside-nav-container h1{
    margin:0;
    padding: 18px 20px 0 80px;
    font-size: 26px;
font-family: 'Gamja Flower', cursive;
color: yellow;
}
#inside-nav-container-two{
    float: left;
    width: 500px;
    margin: 0 auto;
     background-color: #195f01;
}
#inside-nav-container-two ul{
    list-style: none;
   
}
#inside-nav-container-two li{
   float: left;
    padding: 15px 15px 28px 10px;
}
#inside-nav-container-two li a{
   padding: 0 27px;
   font-size: 18px;
    color: white
}
#inside-nav-container-three{
    float: left;
    display: block;
    padding-top:32px;
    font-size: 18px;
}
#inside-nav-container-three h4{display: inline; margin: 0;padding-left:25px; color: yellow;}
.toggle{
    width:100%; padding:10px 20px;text-align:right;box-sizing: border-box;font-size: 30px;
     display: none;
}
/*                  First Section        */
.feature{
    padding-bottom: 14px;
    height: 60vh;
    background: url("https://www.publicdomainpictures.net/pictures/20000/velka/grass-background.jpg");
    background-position: center;
    width:100%;
}
#feature-wrapper{
    width: 50%;
    margin: 0 auto;
}
#inside-feature-content{
    width: 100%;
}
#inside-feature-content h1{
    font-size:50px;
    color: white;
    font-family: 'FiraSansLight', sans-serif;
    padding:0;
    margin-bottom: 30px;
}
#feature-sub-headline{
    width: 75%;
    margin: 0 auto;
    font-size: 24px;
    font-weight: bold;
    color: gold;
    margin-left: 0;
    line-height: 29px;
    padding: 34px 0 55px 0;
}
#quote h4{
    margin-bottom: 0;
    color: white;
    font-size: 20px;
}
#quote > input:nth-child(2){
    height:42px;
    float: left;
    color: white;
}
/*                  Second Section        */
#feature-two-wrapper{
    background: green;
    width: 100%;
    padding: 90px 0;
}
#inside-feature-two-wrapper{
    width: 50%;
    margin: 0 auto;
    text-align: center;
}
.three-features{
    width: 25%;
    float: left;
    margin-left: 55px;
}

.three-features img{
       width: 110px;
}
.three-features h3{
    color: gold;
    float: right;
    margin-top: 30px
}
#inside-feature-two-wrapper div:first-child{

}




/*                  Media Qurries  */
@media only screen and (max-width:768px){
    #inside-nav-container img{
   width:70px;
}
#inside-nav-container h1{
    padding: 18px 0 0 84px;
    font-size: 24px;
}
    #inside-nav-container{
    width: 100%;
}
    #inside-nav-container-two{
        width: 100%;
    }
    #inside-nav-container-three{
        display: none;
    }
    .toggle{
    display: block;
    padding-top: 22px;
    
}
    ul{
        width:100%;
        display: none;
    }
    #inside-nav-container-two li{
        display: block;
        float: none;
        width: 100%;
        text-align: center;
    }
    .active{
        display: block;
    }
}
